.cards-grid{
    border: 2px solid black;
    width: 40%;
    height: 70%;
    background-color: rgb(100,100,100,0.4);
    position: absolute;
    top: 10%;
    left: 30%;
    display: flex;
    flex-wrap: wrap;
}
.cards-grid img{
    width: 25%;
    height: 25%;
    box-sizing: border-box;
    background-image: url('../images/Unturned.png');
    background-size: 80%;
    background-position: center;
    background-repeat: no-repeat;    
}
body{

    background-image: url('../images/Background/emma-francis-vpHCfunwDrQ-unsplash.jpg');
    background-size: 100%;
}