.cards-grid{
    border: 2px solid black;
    height: 65vh;
    aspect-ratio: 1/1;
    background-color: rgb(100,100,100,0.4);
    top: 10%;
    left: 30%;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
}

.cards-grid img{
    width: 25%;
    height: 25%;
    box-sizing: border-box; 
    background-size: 80%;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 15%;
    padding: 10px;
    cursor: pointer;
}

.selectedPics{
    animation: flipCard 0.4s;
}

@keyframes flipCard {
    from{
        transform: rotateX(90deg);
    }
    to{
        transform: rotateX(0deg);
    }
}

body{
    background-image: url('../images/Background/mybackground.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    display: grid;
    /* grid-row: auto; */
    height: 100vh;
}

.image{
    width: 10%;
    display: inline;
    margin: 50px;
    position: center;    
}

#p-button{
    animation: playButton 1s infinite 1s  ;  
}

#Images{
    position: absolute;
    top: 40%;
    left: 30%;
}

.timer{
    font-size: 2.5rem;
    aspect-ratio: 1/1;
    margin: auto;
    height: 8vh;
    background-color: aliceblue;
    text-align: center;
    border-radius: 50%;
}

@keyframes playButton {
    0% {transform:scale(1);}
    50% {transform: scale(1.1);}
    100%{transform: scale(1);} 
}

.buttons{
    margin: auto;
    width: 20%;
    display:flex;
    justify-content: space-evenly;
}

.button{
    height:40px;
    width: 110px;
    background-color: blue;
    color: white;
    border: solid 1px blue;
    border-radius: 5px;
    cursor: pointer;
}
